PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://CHOWFAST_ADMIN:Joespence050$@chowfast.gsm6hqn.mongodb.net/chowfast?retryWrites=true&w=majority&appName=ChowFast
JWT_SECRET=chowfast_secret_key_2026
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=placeholder
CLOUDINARY_API_KEY=placeholder
CLOUDINARY_API_SECRET=placeholder
PAYSTACK_SECRET_KEY=placeholder
PAYSTACK_PUBLIC_KEY=placeholder
FRONTEND_URL=http://localhost:3000